<div>
    <h2>
        <span>Fechas</span>
        <button class="btn btn-primary float-right jh-create-entity create-fecha" [routerLink]="['/', { outlets: { popup: ['fecha-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Fecha
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="fechas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Dia</span></th>
            <th><span>Hora</span></th>
            <th><span>Tipo Dia</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fecha of fechas ;trackBy: trackId">
                <td><a [routerLink]="['../fecha', fecha.id ]">{{fecha.id}}</a></td>
                <td>{{fecha.dia}}</td>
                <td>{{fecha.hora}}</td>
                <td>{{fecha.tipoDia}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../fecha', fecha.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'fecha/'+ fecha.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'fecha/'+ fecha.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
